.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter-container,
.cart-container {
  width: 10%; 
  height: 20%;
}


.shop-items-container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.shop-card {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10%;
  margin-right: 10px;
  width: 20vw;
  height: 35vh;
}

.shop-card img {
  width: 35%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.shop-card h6 {
  font-size: 1rem;
  margin-bottom: 2%;
}

.shop-card div {
  margin-bottom: 5%;
}

.filter-container{
    background-color: red;
    margin-left: 1%;
}

.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.cart-container{
    background-color: blue;
}