.container{
    display: flex;
    height: 100%;
    align-items: center;
    margin: 10px;
}

.shop-items-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
}

.shop-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items horizontally in the center */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10%;
}

.shop-card img {
  width: 100%; /* Make the image take up the full width of the card */
  border-radius: 8px;
  margin-bottom: 10px; /* Add some space below the image */
}

.shop-card div {
  margin-bottom: 5%; /* Add space between each div */
}

.filter-container{
    width: 20%;
    height: 30%;
    background-color: red;
}

.filter{
    /* separate the words from each other */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}